header {
	border-bottom: 1px solid gray;
	text-align: center;
	/*background-color: blue;*/
	h1 {
		margin: 0px;
	}
	h2 {
		margin: 0px;
		margin-bottom: 5px;
		font-size: 70%;
	}
	h3 {
		margin: 0px;
		margin-bottom: 4px;
		font-size: 70%;
	}
}

.logo {
	img {
		width: 15%;
	}
}