html, body {
	margin: 0;
	padding: 0;
}

header {
	border-bottom: 1px solid gray;
	text-align: center;
	background-image:url('graybg.jpg');
	background-size: 20%;
	h1 {
		margin: 0px;
	}
	h2 {
		margin: 0px;
		margin-bottom: 5px;
		margin-top: -6px;
		color: #4D4D4D;
		font-size: 70%;
		font-family: 'Open Sans';
	}
	h3 {
		margin: 0px;
		margin-bottom: 4px;
		font-size: 70%;
	}
}

.logo {
	img {
		width: 15%;
	}
}

/* NAVBAR */

.navbar {
	height: 50px;
	border-bottom: 1px solid gray;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 82%, rgba(225,225,225,1) 100%, rgba(246,246,246,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(241,241,241,1)), color-stop(82%,rgba(225,225,225,1)), color-stop(100%,rgba(225,225,225,1)), color-stop(100%,rgba(246,246,246,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 82%,rgba(225,225,225,1) 100%,rgba(246,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 82%,rgba(225,225,225,1) 100%,rgba(246,246,246,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 82%,rgba(225,225,225,1) 100%,rgba(246,246,246,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 82%,rgba(225,225,225,1) 100%,rgba(246,246,246,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */

}

.nav {
	text-align: center;
	padding-left: 0px;
	padding-top: 15px;
	margin-bottom: 0px;
	li {
		list-style-type: none;
		margin-left: 60px;
		display: inline-block;
		font-family: 'Open Sans';
		font-size: 100%;
		color: #4D4D4D;
		a {
			color: #4D4D4D; 
			text-decoration: none;
		}
		a:visited {
			color: #4D4D4D;
		}
	}
}

/* BODY */

.container {
	width: 100%;
	text-align: center;
}

.container img {
	margin: 75px 0px;
}

/* FOOTER */

.footer {
	min-height: 285px;
	background-color: #4D4D4D;
}

.footer-body {
	width: 80%;
	height: 65px;
	margin: 0px auto;
	border-bottom: 1px solid #EE5B34;
}

.social-media li {
	display: inline-block;
	color: white;
	text-decoration: none;
	font-family: 'Open Sans';
	float: left;
	margin-right: 5px;
	margin-top: 22px;
	margin-left: 0px;
}

.footer-nav li {
	display: inline-block;
	color: white;
	text-decoration: none;
	font-family: 'Open Sans';
	float: right;
	margin-top: 22px;
	margin-right: 35px;
}

.contact {
	margin-top: 40px;
}

.contact-info {
	border-right: 1px solid #EE5B34;
	padding-right: 25px;
	td {
		display: block;
		color: white;
		border-right: 1px solid #EE5B34;
		font-family: 'Open Sans';
		font-size: 80%;
		padding-right: 20px;
	}
}

.clear {
	clear: both;
}

.footerUA {
	height: 50px;
	border-top: 1px solid #EE5B34;
	margin-top: 60px;
	h6 {
		color: white;
		font-family: 'Open Sans';
		font-size: 50%;
		margin-top: 18px;
	}
}
